<a href="https://colab.research.google.com/github/Sauravsingh009/Assignment-1/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##Q1. Create one variable containing following type of data:
##(i) string
##ans-
st="saurav singh"
##(ii) list
l=[1,2,3,4,5,6,7,'saurav']
##(iii) float
fl=234.56
##(iii) float
t=('saurav singh',1,2,3,4,5,6)

In [7]:
##Q2. Given are some following variables containing data:
##(i) var1 = ‘ ‘
##answer: string
##(ii) var2 = ‘[ DS , ML , Python]’
##answer:string
##(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
##answer:list
##(iv) var4 = 1.
##answer:float

In [11]:
##Q3. Explain the use of the following operators using an example:
##(i) /
##answer:
#this operator is used for division
#for example
a=9
b=3
print(a/b)

##(ii) %
##answer:
#this operator is used for getting remainder
#for example
a=9
b=3
print(a%b)
#(iii) //
##answer:
#this operator is used for getting quotient
#for example
a=9
b=3
print(a//b)
#(iv) **
##answer:
#this operator is used for getting power
#for example
a=9
b=3
print(a**b)

3.0
0
3
729

In [18]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
  print(i)
  print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
8
<class 'int'>
9
<class 'int'>
10
<class 'int'>

In [1]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
a=int(input("enter the value of a="))
b=int(input("enter the vakue of b="))
while(a%b==0):
  print(a//b)
  break

enter the value of a=99
enter the vakue of b=3
33

In [23]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.
ll=[1,2,3,4,5,6,7,9,22,34,54,65,87,665,434,54,35332,99,87,54,32,49,111,222,333]

for i in ll :
  if i%3==0:
    print(i)
    print("is divisible by 3")
  else:
    print(i)
    print("is not divisible by 3")

1
is not divisible by 3
2
is not divisible by 3
3
is divisible by 3
4
is not divisible by 3
5
is not divisible by 3
6
is divisible by 3
7
is not divisible by 3
9
is divisible by 3
22
is not divisible by 3
34
is not divisible by 3
54
is divisible by 3
65
is not divisible by 3
87
is divisible by 3
665
is not divisible by 3
434
is not divisible by 3
54
is divisible by 3
35332
is not divisible by 3
99
is divisible by 3
87
is divisible by 3
54
is divisible by 3
32
is not divisible by 3
49
is not divisible by 3
111
is divisible by 3
222
is divisible by 3
333
is divisible by 3

In [47]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.
#answer:
#Mutable data types are those whose values can be changed after they created.
# for example :List
list=[1,2,3,4,5,6]
list[3]=55
list
#Immutable data type are those whose value can not changed after they created.
#for example: tuple,string etc
t=(1,2,3,4,5)
t[3]=55
#here error is raise
list

[1, 2, 3, 55, 5, 6]