#Q1. What is the syntax for adding an element to a list in Python?
Answer:
Syntax: list_name.append(element)
Example:

In [150]:
list=[1,2,3,4,5]
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

#Q2. What is the difference between remove() and pop() functions in Python?
Answer:remove()

Purpose: Removes the first occurrence of a specific element from the list.
Syntax: list_name.remove(element)

pop()

Purpose: Removes and returns an element from the list at a specific index. If no index is provided, it removes and returns the last element.
Syntax: list_name.pop(index=optional)

#Q3. Write a Python code to sort a list in descending order.

In [158]:
my_list=[1,3,5,7,8,9,0,999,77,66,55,4]
my_list.sort(reverse=True)
my_list

[999, 77, 66, 55, 9, 8, 7, 5, 4, 3, 1, 0]

#Q4. Write a Python code to count the number of occurrences of an element in a list.

In [160]:
_list=[1,'e',6,4,3,21,4,3,1,5,7,8,9,0,8,5,4,3,2,1]
_list.count(1)

3

#Q5. Write a Python code to reverse a list.

In [166]:
me_list=[1,2,3,4,5,6,7,8,'s','d',2,3,45,67]
me_list.reverse()
print(me_list)

[67, 45, 3, 2, 'd', 's', 8, 7, 6, 5, 4, 3, 2, 1]