#Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)].

In [39]:
# Given list of tuples
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sort the list of tuples based on the second element (integer value) using a lambda function
sorted_players = sorted(players, key=lambda x: x[1])

# Print the sorted list
print("Sorted players based on runs:")
for player in sorted_players:
    print(player)

Sorted players based on runs:
('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [50]:
l2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
list(map(lambda x:str(x),l2))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

#Q4. Write a python program using reduce function to compute the product of a list containing number from 1 to 25.

In [68]:
l3=[]
for i in range(1,25):
  l3.append(i)

In [71]:
from functools import reduce

In [75]:
reduce(lambda a,b:a*b,l3)

620448401733239439360000

##Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [76]:
l4=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [79]:
list(filter(lambda a:a%2==0 and a%3==0,l4))

[6, 60, 90, 120]

#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function
['python', 'php', 'aba', 'radar', 'level']

In [80]:
word=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda a:a==a[::-1],word))

['php', 'aba', 'radar', 'level']