#Q1. Create an empty list.

In [49]:
list=[]
list

[]

Q2. Create a list and add an element to the end of this list.

In [117]:
my_list=[1,2,3,5,4444,3345]
my_list.append(34)
my_list

[1, 2, 3, 5, 4444, 3345, 34]

#Q3. For the above created list print the last element.

In [118]:
my_list
my_list[6]

34

#Q4. Reverse the above created list.

In [126]:

my_list[::-1]

[4444, 3345, 34, 5, 3, 2, 1]

#Q5. Sort the above created list.

In [149]:

my_list.sort()
my_list

[1, 2, 3, 5, 34, 3345, 4444]

#Q6. Create a list of your top three favorite movies, then print the second movie title.

In [139]:
List_movies=['avatar','Rx100','chichore']
print(List_movies[1])

Rx100

#Q7. Create a list of your favorite animals, then add a new animal to the list and print the updated list.

In [143]:
animal=['dog','cow','horse','lion','tiger']
animal.insert(3,'cat')
animal

['dog', 'cow', 'horse', 'cat', 'lion', 'tiger']

#Q8. Create a list of your favorite cities, then use the index() method to find the position of a specific city on the list and print it.

In [146]:
fav=['delhi','ranchi','sydney','las vegas','madrid']
city=fav.index('madrid')
print(city)

4